# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("Anas Rathore",5,True,499.2)

Anas Rathore 5 True 499.2

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [19]:
print("Anas-Rathore",5,True,499.2,sep="-")

Anas-Rathore-5-True-499.2

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [20]:
print("Anas Rathore",5,True,499.2,sep=" ")

Anas Rathore 5 True 499.2

4) Can a python print function take no value to print???

In [23]:
print()
print("yes!")

yes!

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [7]:
name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
organization = "The Himalya Associates"
since = 2015
height = 5.10 
weight = 70600
income = 200

print("-----details-----")
print(name,"having age of",age,"years","is",profession,"by profession","working at",organization,"since",since,". He has a height of",height,"and weight",weight,"and income of: ",income,"k PKR")

-----details-----
Mr. Ahmed having age of 30 years is Lawyer by profession working at The Himalya Associates since 2015 . He has a height of 5.1 and weight 70600 and income of:  200 k PKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [9]:
yr_of_graduation = 2005
current_year = 2022
total_year = current_year - yr_of_graduation
print("It has been",total_year,"years")

It has been 17 years

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [10]:
start_year = 2015
current_year = 2022
total_year = current_year - start_year
print("He has been working for about",total_year,"years")

He has been working for about 7 years

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [11]:
dollar = 208.40
salary = 2000000
conversion = 0.0048 * salary
print("The salary of Mr. Ahmed in Dollar($) is: ",conversion)

The salary of Mr. Ahmed in Dollar($) is:  9600.0

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [12]:
dollar = 208.40
salary = 2000000
conversion = 0.0048 * salary
print("The salary of Mr. Ahmed in Dollar($) is: ",int(conversion))

The salary of Mr. Ahmed in Dollar($) is:  9600

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [14]:
weight = 70600
conversion = 0.001 * weight
print("The weight of Mr. Ahmed's is: ",weight,"and type is: ",type(weight))
print("Weight in kg is = ",int(conversion))

The weight of Mr. Ahmed's is:  70600 and type is:  <class 'int'>
Weight in kg is =  70

11) print the year of birth of Mr. Ahmed.

In [16]:
age = 30 
current_year = 2022
birth_year = 2022 - 30
print("The year of birth of Mr. Ahmed is: ",birth_year)

The year of birth of Mr. Ahmed is:  1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [25]:
amount = 100
equity = amount % 6==0  
print("The amount is: ",amount)
print("Is it possible: ",equity)

The amount is:  100
Is it possible:  False